<h1>Concurso <small> ¡¡El Cuestionario Ganador!! </small></h1>

<div class="row">
    <h3>Score <small>{{score}}</small> </h3>
</div>

<hr />

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div *ngIf="!identidadValidada">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-6">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido" />
                <small *ngIf="nombreNoValido" class="text-danger">
          Ingrese al menos 5 letras
        </small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Cedula</label>
            <div class="col-6">
                <input class="form-control" type="text" placeholder="Documento" formControlName="documento" [class.is-invalid]="documentoNoValido" />
                <small *ngIf="documentoNoValido" class="text-danger">
          El documento es obligatorio
        </small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" required>Correo</label>
            <div class="col-6">
                <input class="form-control" type="email" placeholder="Correo" formControlName="email" [class.is-invalid]="emailNoValido" />
                <small *ngIf="emailNoValido" class="text-danger">
            Ingrese un correo válido
          </small>
            </div>
        </div>

        <div class="form-group row">
            <div class="input-group col-md-8">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="validarIdentidad()">
            Enviar
          </button>
            </div>
        </div>

    </div>

    <div *ngIf="!identidadValidada">


        <div class="form-group row">
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary btn-block">
            Reclamar mi premio
          </button>
            </div>
            <br>
        </div>

        <div class="form-group row" *ngIf="3<score">
            <label class="col-form-label">{{preguntas[4].pregunta}}</label>
            <div class="col-8">
                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta5" [value]="this.preguntas[4].respuestas[0]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[4].respuestas[0].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta5" [value]="this.preguntas[4].respuestas[1]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[4].respuestas[1].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta5" [value]="this.preguntas[4].respuestas[2]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[4].respuestas[2].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta5" [value]="this.preguntas[4].respuestas[3]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[4].respuestas[3].message }}</label>
                </div>
                <small *ngIf="respuesta5NoValido" class="text-danger">
                        Ingrese una respuesta
                    </small>

                <div class="form-group row">

                    <div class="input-group col-md-8">
                        <button type="button" class="btn btn-outline-primary btn-block" (click)="validar( forma.value.respuesta5 )">
                        Validar
                      </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="2<score && score<4">
            <label class="col-form-label">{{preguntas[3].pregunta}}</label>
            <div class="col-8">
                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta4" [value]="this.preguntas[3].respuestas[0]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[3].respuestas[0].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta4" [value]="this.preguntas[3].respuestas[1]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[3].respuestas[1].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta4" [value]="this.preguntas[3].respuestas[2]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[3].respuestas[2].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta4" [value]="this.preguntas[3].respuestas[3]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[3].respuestas[3].message }}</label>
                </div>
                <small *ngIf="respuesta4NoValido" class="text-danger">
                        Ingrese una respuesta
                      </small>

                <div class="form-group row">

                    <div class="input-group col-md-8">
                        <button type="button" class="btn btn-outline-primary btn-block" (click)="validar( forma.value.respuesta4 )">
                        Validar
                      </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="1<score && score<3">
            <label class="col-form-label">{{preguntas[2].pregunta}}</label>
            <div class="col-8">
                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta3" [value]="this.preguntas[2].respuestas[0]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[2].respuestas[0].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta3" [value]="this.preguntas[2].respuestas[1]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[2].respuestas[1].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta3" [value]="this.preguntas[2].respuestas[2]" [class.is-invalid]="" />
                    <label class="form-check-label">{{  this.preguntas[2].respuestas[2].message  }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta3" [value]="this.preguntas[2].respuestas[3]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[2].respuestas[3].message }}</label>
                </div>
                <small *ngIf="respuesta3NoValido" class="text-danger">
                        Ingrese una respuesta
                </small>

                <div class="form-group row">

                    <div class="input-group col-md-8">
                        <button type="button" class="btn btn-outline-primary btn-block" (click)="validar( forma.value.respuesta3 )">
                    Validar
                  </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="0<score && score<2">
            <label class="col-form-label">{{preguntas[1].pregunta}}</label>
            <div class="col-8">
                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta2" [value]="this.preguntas[1].respuestas[0]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[1].respuestas[0].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta2" [value]="this.preguntas[1].respuestas[1]" [class.is-invalid]="" />
                    <label class="form-check-label">{{  this.preguntas[1].respuestas[1].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta2" [value]="this.preguntas[1].respuestas[2]" [class.is-invalid]="" />
                    <label class="form-check-label">{{  this.preguntas[1].respuestas[2].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta2" [value]="this.preguntas[1].respuestas[3]" [class.is-invalid]="" />
                    <label class="form-check-label">{{  this.preguntas[1].respuestas[3].message }}</label>
                </div>
                <small *ngIf="respuesta2NoValido" class="text-danger">
                        Ingrese una respuesta
                      </small>

                <div class="form-group row">

                    <div class="input-group col-md-8">
                        <button type="button" class="btn btn-outline-primary btn-block" (click)="validar( forma.value.respuesta2 )">
                        Validar
                      </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col" *ngIf="score<1">
            <label class="col-form-label">{{preguntas[0].pregunta}}</label>
            <div class="col-10">
                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta1" [value]="this.preguntas[0].respuestas[0]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[0].respuestas[0].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta1" [value]="this.preguntas[0].respuestas[1]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[0].respuestas[1].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta1" [value]="this.preguntas[0].respuestas[2]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[0].respuestas[2].message }}</label>
                </div>

                <div class="form-check form-check-col">
                    <input class="form-check-input" type="radio" formControlName="respuesta1" [value]="this.preguntas[0].respuestas[3]" [class.is-invalid]="" />
                    <label class="form-check-label">{{ this.preguntas[0].respuestas[3].message }}</label>
                </div>

                <small *ngIf="respuesta1NoValido" class="text-danger">
                        Ingrese una respuesta
                      </small>

                <div class="form-group row">

                    <div class="input-group col-md-8">
                        <button type="button" class="btn btn-outline-primary btn-block" (click)="validar( forma.value.respuesta1 )">
                        Validar
                      </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</form>
<!-- 
<hr />
<pre>Estado del formulario {{ forma.valid }} 
    <br>
    Status: {{ forma.status }}
</pre>

<pre>
    {{ forma.value | json }}
</pre> -->